//colors
$color-primary:#192DA1;
$color-primary-light:#2039CC;
$color-primary-dark:#111E6C;

$color-gray-dark: #777;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-white: #fff;
$color-black: #000;

$color-flare-dark:#f12711;
$color-flare-light:#f5af19;

$color-coolblue-dark:#2193b0;
$color-coolblue-light:#6dd5ed;

$color-green-light:#52c234;
$color-green-dark:#061700;


//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//font sizes
$default-font-size:1.6rem;